<p id="notice"><%= notice %></p>

<div style="display: flex; justify-content: space-between;">
  <h1>Characters</h1>
  <%= link_to 'New Character', new_character_path, class: 'btn btn-primary', style: 'height: intrinsic' %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Life point</th>
      <th>Attack point</th>
      <th>Defence point</th>
      <th>Fights</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @characters.empty? %>
      <tr><td colspan="8">No character available</td></tr>
    <% end %>
    <% @characters.each do |character| %>
      <tr>
        <td><img src="<%= character.avatar %>" /></td>
        <td><%= character.name %></td>
        <td><%= character.life_point %></td>
        <td><%= character.attack_point %></td>
        <td><%= character.defence_point %></td>
        <td><%= character.fights.count %></td>
        <td><%= link_to 'Show', character, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_character_path(character), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- TODO: pagination -->
<%= link_to 'New Character', new_character_path, class: 'btn btn-primary' %>
