<p id="notice"><%= notice %></p>
<img src="<%= @character.avatar %>" />
<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Life point:</strong>
  <%= @character.life_point %>
</p>

<p>
  <strong>Attack point:</strong>
  <%= @character.attack_point %>
</p>

<p>
  <strong>Defence point:</strong>
  <%= @character.defence_point %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
